<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Data Source=regulus;Initial Catalog=BDPP15190;Persist Security Info=True;User ID=BDPP15190;Password=nada123" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>